.card:has(.stretched-link:hover) :has(img)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.15);
}
.card:has(.stretched-link:hover) img {
    transform: scale(1.025);
}
.card img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card :has(img) {
    position: relative;
    overflow: hidden;
    aspect-ratio: 3/4;
    @supports not (aspect-ratio: 3 / 4) {
        &::before {
            float: left;
            padding-top: 133.33%;
            content: "";
        }

        &::after {
            display: block;
            content: "";
            clear: both;
        }
    }
}
.card {
    overflow: hidden;
}