<div class="container mb-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="img-container me-xl-5 me-auto">
                <img class="img-fluid w-100" src="{{book?.imgUrl}}" alt="">
            </div>
        </div>
        <div class="col-md">
            <h4 class="mb-3">{{book?.title}}</h4>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-3 col">
                    <p>Tác giả:</p>
                    <p>Nhà xuất bản:</p>
                    <p>Năm xuất bản:</p>
                </div>
                <div class="col">
                    <p>{{book?.author}}</p>
                    <p>{{book?.publisher}}</p>
                    <p>{{book?.publishDate}}</p>
                </div>
            </div>
            <form>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Đăng ký mượn</button>
            </form>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="row mb-4">
        <h4 class="mb-0">Giới thiệu</h4>
    </div>
    <p>{{book?.overview}}</p>
</div>
<app-book-scroll-list title="Cùng tác giả"></app-book-scroll-list>
<app-book-scroll-list title="Có liên quan"></app-book-scroll-list>