<div class="container">
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 link-secondary " href="#">World</a>
            <a class="p-2 link-secondary " href="#">U.S.</a>
            <a class="p-2 link-secondary " href="#">Technology</a>
            <a class="p-2 link-secondary " href="#">Design</a>
            <a class="p-2 link-secondary " href="#">Culture</a>
            <a class="p-2 link-secondary " href="#">Business</a>
            <a class="p-2 link-secondary " href="#">Politics</a>
            <a class="p-2 link-secondary " href="#">Opinion</a>
            <a class="p-2 link-secondary " href="#">Science</a>
            <a class="p-2 link-secondary " href="#">Health</a>
            <a class="p-2 link-secondary " href="#">Style</a>
            <a class="p-2 link-secondary " href="#">Travel</a>
        </nav>
    </div>
</div>
<main class="container-fluids">
    <!-- <div class="p-4 p-md-5 mb-4 text-white bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                efficiently about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold ">Continue reading...</a>
            </p>
        </div>
    </div> -->
    <div class="p-4 p-md-5 mb-4 text-white bg-dark">
        <div class="row m-0 p-0">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Thư viện trường Đại học Quy Nhơn</h1>
                <p class="lead my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolore qui
                    dignissimos
                    unde magni molestiae id. Corporis odit porro ea.</p>
                <p class="lead mb-0"><a href="#" class="text-white fw-bold ">Tìm hiểu thêm...</a>
                </p>
            </div>
            <div class="col-md-6" style="height: 256px; overflow: hidden;">
                <div
                    style="width: 100%; height: 100%; object-fit: cover; object-position: center center; border-radius: 50%; background-size: cover; box-shadow: 0 0 36px 64px #212529 inset, 0 0 8px 8px #212529 inset; outline: 1rem solid #212529; background-image: url('http://lib.qnu.edu.vn/upload/2021/01/10/slider%203.jpg_2021thg110_113304828(1).jpg');">
                </div>
            </div>
        </div>
    </div>


    <div class="container my-4">
        <div class="row mb-4">
            <h4 class="mb-0">Lorem ipsum dolor.</h4>
        </div>
        <div class="container p-0 d-flex flex-nowrap overflow-auto gap-3">

            <app-book title="Bramble"
                imgUrl="https://cdn1.epicgames.com/spt-assets/ab87c9bafafd49fdaeb1069044a8d105/bramble-the-mountain-king-gs19a.png?h=480&quality=medium&resize=1&w=360">
            </app-book>
            <app-book title="Watch Dogs: Legion Standard Edition"
                imgUrl="https://cdn1.epicgames.com/0a84818055e740a7be21a2e5b6162703/offer/WatchDogs_Legion_Store_Portrait_1200x1600-1200x1600-a6b2d4cce489aeeb87bad4a6db168bed.jpg?h=480&quality=medium&resize=1&w=360">
            </app-book>
            <app-book title="Poker Club"
                imgUrl="https://cdn1.epicgames.com/spt-assets/560813614bba464385b56f43524d17f0/download-poker-club-offer-16wlj.jpg?h=480&quality=medium&resize=1&w=360">
            </app-book>
            <app-book title="The Legend of Heroes: Trails from Zero"
                imgUrl="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_TheLegendofHeroesTrailsfromZero_NihonFalcom_S2_1200x1600-0abec058d85e9be2dedbcb10937bb3a7?h=480&quality=medium&resize=1&w=360">
            </app-book>

            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>

            <!-- <div class="card p-0 border-0" style="width: 14rem;">
                <img src="https://cdn0.fahasa.com/media/catalog/product/z/4/z4285532325002_86287eb29394a323e3ecf793998399a3.jpg"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <p class="card-text text-wrapped max-line-2 m-0">Some quick example text to build on the card title
                        and make
                        up
                        the bulk of the
                        card's content.</p>
                    <h5>Card title</h5>
                    <a href="#" class="stretched-link">Go somewhere</a>
                </div>
            </div> -->
        </div>
    </div>


</main>