<div class="p-4 p-md-5 mb-5 bg-body-secondary">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
            efficiently about what's most interesting in this post's contents.</p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold ">Continue reading...</a>
        </p>
    </div>
</div>
<div class="container mb-5">
    <div class="row g-4">
        <div class="col-lg-3">
            <div class="container bg-body-secondary p-2 rounded-2 sticky-top" style="top: 4rem;">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center active">
                        Active list item
                        <span class="badge bg-secondary badge-pill">pill1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        List item
                        <span class="badge bg-secondary badge-pill">pill2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center disabled">
                        Disabled item
                        <span class="badge bg-secondary badge-pill">pill3</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <form class="mb-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control border-2 border-primary-subtle"
                        placeholder="Nhập nội dung tìm kiếm" aria-describedby="search">
                    <button class="btn btn-primary" type="button" id="search">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <div class="row mb-5 g-3">
                    <div class="col-12 col-md">
                        <div class="input-group">
                            <select class="form-select" name="" id="">
                                <option selected hidden>Sắp xếp theo</option>
                                <option value="">Tên sách</option>
                                <option value="">Năm xuất bản</option>
                                <option value="">Số lượt mượn</option>
                            </select>
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="button"
                                aria-pressed="false" autocomplete="off"><span class="bi bi-sort-up"></span></button>
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <select class="form-select" name="" id="">
                            <option selected hidden>Thể loại</option>
                            <option value="">Giáo dục</option>
                            <option value="">Pháp luật</option>
                            <option value="">Công nghệ</option>
                        </select>
                    </div>
                    <div class="col-12 col-md">
                        <select class="form-select" name="" id="">
                            <option selected hidden>Tình trạng</option>
                            <option value="">Có sẵn</option>
                            <option value="">Hết sách</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col my-2">
                    <h5>Kết quả tìm kiếm</h5>
                </div>
                <div class="col-auto ms-auto">
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="button" aria-pressed="false"
                        autocomplete="off"><span class="bi bi-grid-3x3-gap-fill"></span></button>
                </div>
                <div class="col-12 d-flex">
                    <app-book></app-book>
                    <app-book></app-book>
                    <app-book></app-book>
                    <app-book></app-book>
                    <app-book></app-book>
                </div>
                <div class="col-12 d-flex">
                    <app-book></app-book>
                    <app-book></app-book>
                    <app-book></app-book>
                    <app-book></app-book>
                    <app-book></app-book>
                </div>
                <div class="col-12 d-flex">
                    <app-book></app-book>
                    <app-book></app-book>
                    <app-book></app-book>
                    <app-book></app-book>
                    <app-book></app-book>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination   justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span class="bi bi-arrow-left-short" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span class="bi bi-arrow-right-short" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>