<!-- Nav tabs -->
<ul class="nav nav-tabs" id="profileTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab"
      aria-controls="info" aria-selected="true">Thông tin</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="favorite-tab" data-bs-toggle="tab" data-bs-target="#favorite" type="button" role="tab"
      aria-controls="favorite" aria-selected="false">Yêu thích</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab"
      aria-controls="history" aria-selected="false">Lịch sử mượn</button>
  </li>
</ul>

<!-- Tab content -->
<div class="tab-content">
  <div class="tab-pane active" id="info" role="tabpanel" aria-labelledby="info-tab">Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Consequatur, itaque!</div>
  <div class="tab-pane" id="favorite" role="tabpanel" aria-labelledby="favorite-tab">Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Impedit illo eos commodi deserunt tenetur dignissimos!</div>
  <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. In quod velit iste omnis debitis error, magni neque atque porro quidem?</div>
</div>