<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <div class="card shadow my-4 bg-body-tertiary">
        <div class="card-body p-4">
          <h4 class="card-title mb-2">Profile</h4>
          <hr />
          <div class="mb-2">
            <label for="image" class="form-label mb-2">Profile Photo</label>
            <p>Accepted file type .png - Less than 1MB</p>
            <input type="file" class="form-control" id="image" src="">
          </div>
          <hr />
          <div class="row mb-2">
            <div class="col">
              <label for="firstName" class="form-label mb-2">Họ</label>
              <input type="text" class="form-control" id="firstName" placeholder="Nhập họ">
            </div>
            <div class="col">
              <label for="lastName" class="form-label mb-2">Tên</label>
              <input type="text" class="form-control" id="lastName" placeholder="Nhập tên">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <label for="email" class="form-label mb-2">Email</label>
              <input type="email" class="form-control" id="email" required placeholder="Nhập email">
            </div>
            <div class="col">
              <label for="phone" class="form-label mb-2">Số điện thoại</label>
              <input type="text" class="form-control" id="phone" placeholder="Nhập số điện thoại">
            </div>
          </div>
          <!-- <div class="row mb-2">
            <div class="col">
              <label for="country" class="form-label mb-2">Quốc gia</label>
              <select name="country" id="country" class="form-select">
                <option value="country">India</option>
                <option value="">VietNam</option>
                <option value="">Japan</option>
              </select>
            </div>
            <div class="col">
              <label for="language" class="form-label mb-2">Ngôn ngữ</label>
              <select name="language" id="language" class="form-select">
                <option value="language">Vietnamese</option>
                <option value="language">English</option>
                <option value="language">Japanese</option>
              </select>
            </div>
          </div> -->
          <div class="row mb-2">
            <div class="col">
              <div class="d-flex justify-content-start align-items-center">
                <button class="btn btn-primary me-2" type="button">Lưu thay đổi</button>
                <button class="btn btn-secondary" type="button">Hủy</button>
              </div>
            </div>
          </div>
          <hr />
          <div>
            <label for="deactivate" class="form-label"><b>Deactivate your account</b></label>
            <p>Details about your company account and password</p>
            <button class="btn btn-secondary" type="button">Deactivate</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
